// CSS HOMEPAGE

.mainwrapper {
  --heightNav: 70px;
  @include transition($t);

  .slider {
    @include xs {
      height: 950px !important;
      .slider__item-wrap {
        height: 490px !important;
      }
      .slider__text {
        transform: initial !important;
        bottom: 0 !important;
        left: 0 !important;
        top: 67px !important;
        padding: 0 60px;
        position: relative !important;
        .title {
          color: $text-black-cl;
          font-size: 66px;
          line-height: 16px;
          &::after {
            background: $black-cl;
            width: 520px;
            left: -55px;
          }
        }
        .des {
          color: $text-black-cl;
          text-align: center;
          font-size: 18px;
          line-height: 38px;
        }
        .btn {
          color: $text-black-cl;
          border-radius: 10px;
          font-size: 18px;
          line-height: 32px;
          padding: 10px 60px;
          span {
            color: $white-cl;
          }
        }
      }
      .slider__bottom {
        display: none;
      }
    }
    width: 100%;
    height: 100vh;
    position: relative;
    .slider__item-wrap {
      .flickity-viewport {
        height: 100% !important;
      }
      width: 100%;
      height: 100%;
      .slider__item {
        height: 100%;
        width: 100%;
        &-img {
          height: 100%;
          width: 100%;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    .slider__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include mid();
      h2 {
        font-size: 80px;
        color: $white-cl;
        text-transform: uppercase;
        font-family: er;
        line-height: 80px;
        position: relative;
        margin-bottom: 56px;
        &::after {
          content: "";
          display: block;
          width: 770px;
          height: 2px;
          background: $white-cl;
          position: absolute;
          left: -25%;
          bottom: -28px;
        }
      }
      p {
        font-size: 12px;
        color: $white-cl;
        text-transform: uppercase;
        font-family: arial, sans-serif;
        font-weight: bold;
        line-height: 26px;
        margin-bottom: 60px;
      }
      a {
        background: $black-cl;
        color: $white-cl;
        padding: 10px 40px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 12px;
        text-transform: uppercase;
        position: relative;
        @include transition($t);
        &:hover {
          transform: translateY(-10px) scale(1.2);
          @include transition($t);
        }
      }
    }
    .slider__bottom {
      position: absolute;
      bottom: 20px;
      width: 100%;
      .container-fluid {
        display: flex;
        justify-content: flex-end;
        position: relative;
        .mouse-wrapper {
          @include mid();
          top: -120%;
          i {
            display: block;
            text-align: center;
            &:first-child {
              position: relative;
              top: -50px;
              animation: scrollDown 2s ease-in-out infinite;
            }
          }
          p {
            text-transform: uppercase;
            font-family: ave, sans-serif;
            font-size: 11px;
            line-height: 20px;
            margin-top: 12px;
          }
        }
        .control {
          display: flex;
          .control-btn {
            padding: 12px 16px;
            border: 1px solid #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            @include transition($t);
            cursor: pointer;
            &:hover {
              background: $yellow-cl;
              @include transition($t);
            }
            &:first-child {
              margin-right: -1px;
            }
          }
        }
      }
    }
  }

  .products {
    @include xs {
      width: 100%;
    }
    background: $main-bg-cl;
    .container {
      padding-top: calc(164px - (var(--heightNav)));
      @include xs {
        width: 600px;
        padding: 0 20px;
        .item-img {
          width: 100% !important;
          &:hover {
            img {
              transform: scale(1) !important;
            }
          }
          img {
            width: 100%;
          }
        }
        .item-hidden-wrap {
          display: none;
        }
        .product_row-1 {
          display: block !important;
          width: 100%;
          .working-room {
            width: 100%;
            display: block !important;
            .des {
              display: none;
            }
          }
          .living-room {
          }
        }
        .product_row-2 {
          width: 100%;
          .kichen {
            .item-wrap {
              .item-img {
                img {
                  display: none;
                }
                background-image: url(../../../img/homepage-img/bg.kitchen-mobile.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
              }
            }
          }
        }
        .product__row-3 {
          display: block !important;
          width: 100%;
          .bath-room {
            .des {
              font-size: 30px !important;
              line-height: 46px !important;
              width: 100%;
              padding-left: 0 !important;
              text-align: center !important;
            }
          }
        }
      }
      .product_row-1 {
        display: grid;
        grid-template-columns: 500px 500px;
        column-gap: 30px;
        .working-room {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .des {
            font-size: 12px;
            font-family: arial, sans-serif;
            line-height: 40px;
            height: 176px;
            span {
              font-weight: bold;
            }
          }
          .item-wrap {
            .item-hidden-wrap {
              background: $blue-cl;
            }
          }
        }
        .living-room {
          .item-wrap {
            .item-img {
              height: 460px;
              width: 500px;
              overflow: hidden;
            }
          }
        }
      }
      .product_row-2 {
        .kichen {
          .item-wrap {
            .item-hidden-wrap {
              background: $blue-cl;
            }
            .item-img {
              height: 366px;
            }
          }
        }
      }
      .product__row-3 {
        display: grid;
        grid-template-columns: 500px 500px;
        column-gap: 30px;
        .bath-room {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 620px;
          .des {
            font-size: 18px;
            font-family: er-i;
            line-height: 40px;
            text-align: right;
            padding-left: 60px;
            color: $white-cl;
            position: relative;
            z-index: 199;
            span {
              color: $yellow-cl;
              font-family: esb-i;
            }
          }
          .item-wrap {
            margin-bottom: 0;
            .item-hidden-wrap {
              background: $blue-cl;
            }
          }
        }
      }
    }
  }
}
