.news-detail-page {
  .container {
    padding: 0 30px;
  }
  .back-to-newspage {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 122px;
    .back-to-newspage__btn {
      padding: 20px 0;
      font-family: ave;
      font-size: 11px;
      line-height: 30px;
      color: $text-black-cl;
      text-decoration: none;
      text-transform: uppercase;
      @include transition($t);
      span {
        display: inline-block;
      }
      img {
        margin-left: 20px;
        @include transition($t);
      }
      &:hover {
        span {
          @include transition($t);
          transform: translateX(8px);
        }
        img {
          transform: translateX(-8px);
          @include transition($t);
        }
      }
    }
  }
  .news-detail-banner {
    padding: 62px 0;
    img {
      width: 100%;
    }
  }
  .news-text {
    @include xs {
      text-align: center !important;
    }
    .title {
      font-family: er;
      line-height: 32px;
      font-size: 20px;
      text-transform: uppercase;
      max-width: 750px;
      letter-spacing: 1px;
    }
    .des {
      font-weight: bold;
      max-width: 670px;
      padding: 32px 0;
      text-transform: uppercase;
    }
    .date-time {
      font-family: Arial, sans-serif;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 1px;
      font-style: italic;
    }
    .detail {
      line-height: 22px;
      padding: 45px 0 105px 0;
      max-width: 670px;
    }
  }
  .other-news {
    @include xs {
      .title {
        &::after,
        &::before {
          width: 150px !important;
        }
      }
    }
    .title {
      font-family: Arial, sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 11px;
      letter-spacing: 1px;
      position: relative;
      text-align: center;
      &::before {
        content: "";
        display: inline-block;
        width: 415px;
        height: 1px;
        background: $black-cl;
        position: absolute;
        left: 0;
        top: 50%;
      }
      &::after {
        content: "";
        display: inline-block;
        width: 415px;
        height: 1px;
        background: $black-cl;
        position: absolute;
        right: 0;
        top: 50%;
      }
    }
  }
}
